extends ../base/html.pug

block body
  body.page
    div(style="display: none;")
      include ../../img/svg/sprite_auto.svg

    header.page-header
      include ../blocks/header-nav.pug
      include ../blocks/header-middle.pug
      include ../blocks/header-bottom.pug
    main.page-main
      include ../blocks/about.pug
      include ../blocks/gallery.pug
      include ../blocks/menu.pug
      include ../blocks/features.pug
      include ../blocks/news.pug
      include ../blocks/about2.pug
    footer.page-footer
      include ../blocks/contacts.pug
    include ../base/scripts.pug
