extends ../base/html.pug

block body
  body.page
    div(style="display: none;")
      include ../../img/svg/sprite_auto.svg

    header.page-header(style="background-image: url(img/bg/header-bg.jpg);")
      include ../blocks/header-nav.pug
      include ../blocks/header-middle.pug
      include ../blocks/header-bottom.pug
    main.page-main
      include ../blocks/about.pug
      include ../blocks/gallery.pug
      include ../blocks/menu.pug
      include ../blocks/features.pug
      include ../blocks/news.pug
      include ../blocks/more.pug
    footer.page-footer
      include ../blocks/contacts.pug
    include ../blocks/scroll-btn.pug
    include ../base/scripts.pug
