.header-nav {
  &__links-wrapper {
    transform: scaleY(0);
    transform-origin: center top;

    transition-property: transform;
    transition-duration: 250ms;
    transition-delay: 250ms;
  }

  &__menu,
  &__social {
    opacity: 0;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-delay: 0ms;
  }

  &__overlay {
    opacity: 0;
    transition: opacity 250ms;
  }

  &.active &__links-wrapper {
    transform: scaleY(1);
    transition-delay: 0ms;
  }

  &.active &__menu,
  &.active &__social {
    opacity: 1;
    transition-delay: 250ms;
  }

  &.active &__overlay {
    opacity: 0;
  }

  @media (min-width: $viewport--md) {
    &__links-wrapper {
      transform: initial;
      transform-origin: initial;

      transition: initial;
    }

    &__menu,
    &__social {
      opacity: initial;

      transition: initial;
    }

    &.active &__links-wrapper {
      transform: initial;
      transition-delay: initial;
    }

    &.active &__menu {
      opacity: initial;
    }

    &.active &__social {
      opacity: initial;
      transition: initial;
    }

    &__menu {
      transform: scaleY(0);
      transform-origin: center top;

      transition-property: transform;
      transition-duration: 250ms;
      transition-delay: 250ms;
    }

    &.active &__menu {
      transform: scaleY(1);
      transition-delay: 0ms;
    }

    .header-nav-menu {
      opacity: 0;

      transition-property: opacity;
      transition-duration: 250ms;
      transition-delay: 0ms;
    }

    &.active .header-nav-menu {
      opacity: 1;
      transition-delay: 250ms;
    }
  }

  @media (min-width: $viewport--lg) {
    &__menu {
      transform: initial;
      transform-origin: initial;

      transition: initial;
    }

    &.active &__menu {
      transform: initial;
      transition: initial;
    }

    .header-nav-menu {
      opacity: initial;

      transition: initial;
    }

    &.active .header-nav-menu {
      opacity: initial;
      transition-delay: initial;
    }
  }
}

.header-nav__logo,
.header-nav__burger {
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 750ms;
}

.header-nav__burger {
  transform: translateX(50px);
}

.header-nav__logo {
  transform: translateX(-50px);
  transition-delay: 750ms;
}

.page-is-loaded .header-nav__logo,
.page-is-loaded .header-nav .header-nav__burger {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: $viewport--lg) {
  .header-nav__links-wrapper {
    opacity: 0;
    transform: translateX(50px);
    transition-property: transform, opacity;
    transition-duration: 750ms;
  }

  .page-is-loaded .header-nav__links-wrapper {
    transform: translateX(0);
    opacity: 1;
  }
}
