.header-nav-social {
  padding-top: 30px;
  padding-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item ~ &__item {
    margin-left: 29px;
  }

  &__link {
    display: flex;
    height: 22px;
    color: #C8CDD8;
    transition: color 150ms;
  }

  &__link svg {
    display: block;
    margin: auto;
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: white;
    outline: none;
  }

  &__link:active {
    opacity: 0.7;
  }

  @media (min-width: $viewport--lg) {
    &__list {
      justify-content: flex-end;
    }
  }
}
