.menu {
  &__inner {
    padding-top: 75px;
  }

  &__top {
    position: relative;
  }

  &__top::before {
    content: "";
    position: absolute;
    top: -56px;
    right: 0;

    display: block;
    width: 125px;
    height: 125px;

    background-image: url(../img/bg/menu-bg.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: contain;
  }

  &__bottom {
    margin-top: 15px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 900;
  }

  &__tab {
    padding-right: 95px;
    margin-top: 44px;
  }

  &__arrows {
    position: absolute;
    right: 0;
    bottom: 6px;
    display: flex;
  }

  &__arrow {
    display: block;
  }

  &__arrow ~ &__arrow {
    margin-left: 10px;
  }

  // Костыль
  //---------------------------------
  &__item.visually-hidden .swiper-slide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  @media (min-width: $viewport--md) {
    &__top {
      border-bottom: 1px solid #BDC4CF;
    }

    &__top::before {
      top: -58px;
      width: 135px;
      height: 135px;
    }

    &__bottom {
      margin-top: 50px;
    }

    &__tab {
      padding-right: 0;
      margin-top: 53px;
    }

    &__arrows {
      display: none;
    }
  }

  @media (min-width: $viewport--lg) {
    &__inner {
      padding-top: 113px;
    }

    &__top::before {
      top: -58px;
      width: 188px;
      height: 188px;
    }

    &__title {
      font-size: 36px;
    }
  }
}
