
.page {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  // используйте для страниц с min-height: 100vh для визуального скрытия скроллбара
  &--no-scrollbar {
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-content {
  flex-grow: 1;
}

.container {
  min-width: $viewport--sm;
  max-width: #{15 + 1200 + 15}px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $viewport--md) {
    max-width: #{20 + 1200 + 20}px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $viewport--xl) {
    max-width: #{120 + 1200 + 120}px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
