.scroll-btn.visually-hidden {
  opacity: 0;
}

.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;

  width: 40px;
  height: 40px;

  background-color: $brown;
  opacity: 1;

  transition-property: background-color, opacity;
  transition-duration: 300ms;

  &:hover,
  &:focus {
    background-color: $brown-2;
    outline: none;
  }
}

.scroll-btn svg {
  fill: $white;
  transform: rotate(-90deg) translate(-1px, -1px);
}
