mixin item(heading, txt)
  +e.LI.item
    +e.H3.heading #{heading}
    +e.txt #{txt}

+b.SECTION.about(id="about")
  +e.inner.container
    +e.H2.title Возраждаем традицию
    +e.desc Сигара в достойной компании, оттененная бокалом бренди, всегда была не только обязательным атрибутом джентльмена, но и данью традициям. Поклонники сигар встречались в курительных клубах, обсуждали последние новости и вершили судьбы мира. Прошло время, и теперь традицию курительных клубов возрождает «Дым кудрявый» в Екатеринбурге.
    +e.UL.list.list-reset
      +item("Услуги", "Серьезная сигарная карта и достойный выбор кальянов – standart, premium или de luxe. Всегда в наличии элитный алкоголь, который составляет отличную партию сигарам. Всем, кто за рулем бармен предложит авторский чай.")
      +item("Развлечения", "В клубе «Дым кудрявый» установлены плазменные панели, на которых можно посмотреть спортивный матч. Также в гостевом зале вы найдете шахматы и шашки, в том числе интересные авторские коллекции.")
      +item("Для кого", "Курительный клуб №1 «Дым кудрявый» создан для деловых и неформальных встреч. В отличии от традиционных английских курительных клубов, заведение в Екатеринбурге ждет и джентльменов, и леди.")
