mixin item(txt)
  +e.LI.item
    p #{txt}

+b.SECTION.features(id="features")
  +e.inner.container
    +e.H2.title У нас уютно
    +e.UL.list.list-reset
      +item("Шикарный вид на город с 50-го этажа БЦ «Высоцкий»")
      +item("Авторские миксы, которые меняются каждый месяц и способны удовлетворить каждого требовательного гостя")
      +item("Уникальная атмосфера уединения и комфорта")
      +item("Персонал — подготовленные мастера своего дела")
