+b.header-bottom.container
  +e.inner
    +e.item--phone
      p
        a(href="tel:+73432989888") +7 (343) 298-98-88
    +e.item--schedule
      p вс-чт с 16:00 до 00:00
      p пт-сб с 16:00 до 04:00
    +e.item--address
      p Екатеринбург,
      p БЦ Высоцкий, 50 этаж
