+b.header-nav.js-header-nav
  +e.NAV.inner.container
    //- +e.overlay.js-header-nav-overlay

    +e.logo
      img(src="img/content/header-logo.png")


    +e.links-wrapper
      +e.menu
        include ./header-nav-menu.pug

      +e.social
        include ./header-nav-social.pug

    +e.burger
      +b.BUTTON.burger.btn-reset.js-header-nav-toggle
        +e.inner
