+b.header-nav-social
  +e.UL.list.list-reset
    +e.LI.item
      +e.link(href="#")
        +svg("#social-vk", 19, 11)
    +e.LI.item
      +e.link(href="#")
        +svg("#social-insta", 15, 16)
    +e.LI.item
      +e.link(href="#")
        +svg("#social-fb", 8, 16)
