mixin item(i)
  +e.LI.item(data-menu-category= i)
    +b.menu-category.menu__category.swiper-container
      +e.UL.list.list-reset.swiper-wrapper
        block

+b.SECTION.menu(id="menu").js-menu
  +e.inner.container
    +e.top
      +e.H2.title Меню
      include ./menu-tab.pug
      +e.arrows
        +e.BUTTON.arrow.slider-arrow--prev.btn-reset.js-menu-arrow-prev
          +svg("#icon-arrow", 9, 15)
        +e.BUTTON.arrow.slider-arrow--next.btn-reset.js-menu-arrow-next
          +svg("#icon-arrow", 9, 15)

    +e.bottom
      +e.UL.list.list-reset
        +item(0)
          include ./menu-category-hookah.pug
        +item(1)
          include ./menu-category-cigar.pug
        +item(2)
          include ./menu-category-hookah-2.pug
