-
  const hookahList = [
    {
      id: 1,
      name: "Баунти",
      price: "3000",
      features: "шоколад, молоко, кокосовый сироп",
      bowl: "ананас",
      strength: "средняя",
    },
    {
      id: 2,
      name: "Мохито",
      price: "3000",
      features: "мята, лайм, белый ром и много-много льда",
      bowl: "яблоко, апельсин, грейпфрут",
      strength: "крепкий",
    },
    {
      id: 3,
      name: "Пина колада",
      price: "3000",
      features: "молоко, ананасовый сок, кокосовый сироп, лед",
      bowl: "ананас",
      strength: "средняя",
    }
  ]
