+e.LI.item.swiper-slide
  +e.text
    +e.top
      h4 Кальяны на глиняной чаше
    +e.bottom
      ul
        li
          p
            b Standart:
            mark 1200 ₽
          p
            b Premium:
            mark 1500 ₽
        li
          h5 Замена чаши
          p
            b Standart:
            mark 900 ₽
          p
            b Premium:
            mark 1200 ₽

+e.LI.item.swiper-slide
  +e.text
    +e.top
      h4 Кальяны на фруктовой чаше
    +e.bottom
      ul
        li
          h5 Апельсин
          p
            b Standart:
            mark 1600 ₽
          p
            b Premium:
            mark 1900 ₽
        li
          h5 Яблоко
          p
            b Standart:
            mark 1600 ₽
          p
            b Premium:
            mark 1900 ₽
        li
          h5 Грейпфрут
          p
            b Standart:
            mark 1900 ₽
          p
            b Premium:
            mark 2300 ₽
        li
          h5 Ананас
          p
            b Standart:
            mark 2200 ₽
          p
            b Premium:
            mark 2700 ₽

+e.LI.item.swiper-slide
  +e.text
    +e.top
      h4 Добавки в колбу
    +e.bottom
      ul
        li
          p
            b Вино:
            mark 600 ₽
        li
          p
            b Мята:
            mark 100 ₽
        li
          p
            b Молоко:
            mark 200 ₽
        li
          p
            b Сок в ассортименте:
            mark 300 ₽

      p Вы можете добавить в кальян любой алкоголь из барной карты ресторана Panorama A.S.P.
