+b.SECTION.more
  +e.inner.container
    +e.left
      +e.H2.title Наш клуб входит в состав ресторана Panorama ASP
      +e.text Поэтому гости могут не только насладиться дымным, но и попробовать самые разнообразные коктейли, а также вкусно поесть
    +e.right
      +e.btn.btn--arrow.btn-reset Подробнее о ресторане
